include ../info/_itemInfo.jade

each val in buttons
	div.row.items
		- var n = 3
		while n > 0
			div.fl-cell-1.items-row
				- n--
				div.item-box
				div.item
					div.img-placeholder
						if val.row
							div.row.buttons
								each value, key in val.buttons
									if key==='color'
										each i, btn in value
											button( type='button', class = btn, data-action=key )
												i( class=i )
							
									else 
										if key==='fill'
											each i, btn in value
												button( type='button', class = btn, data-action=key )
													each icon in i
														i( class= icon )

										else
											if val.type==='text'
												button( type='button', class = key )
													| #{value}
											else
												button( type='button', class = key )
													i( class=value )
						else if !val.row
							each value, key in val.buttons
								if key==='color'
									each i, btn in value
										button( type='button', class = btn, data-action=key )
											i( class=i )
						
								else 
									if key==='fill'
										each i, btn in value
											button( type='button', class = btn, data-action=key )
												each icon in i
													i( class= icon )

									else
										if val.type==='text'
												button( type='button', class = key )
													| #{value}
											else
												button( type='button', class = key )
													i( class=value )
						div.item-fast-delivery
							div( class=items[0].features.icon )
							p.item-delivery-term
								| #{items[0].features.feature}
					button.item-next-img( type='button' )
					button.item-prev-img( type='button' )
					div.item-info
						p.item-brand
							| #{items[0].brand}
						p.item-description
							| #{items[0].description}
						p.item-price
							| #{items[0].price} грн
							span.item-old-price
								| #{items[0].oldPrice} грн
					p.item-size
						span.item-sizes
							| Размеры: 
						each size in items[0].sizes
							a( href='#' )
								| #{size} 

