include ../info/_itemInfo.jade

each val in buttons
	div.row.items
		- var n = 3
		while n > 0
			div.fl-cell-1
				- n--
				div.item-box
				div.item
					div.img-placeholder
						unless val.row
							div.row.buttons
								each value, key in val.buttons
									if val.type
										button( type='button', class = key, data-action=val.type )
											if val.type == 'color' 
												i( class=value )
											else
												if key !== 'to-wishlist'
													i( class=value )
												else
													each icn in value
														i( class= icn )
									else if !type
										button( type='button', class = key )
											| #{value}
						else if val.row
							each value, key in val.buttons
									if val.type
										button( type='button', class = key, data-action=val.type )
											if val.type == 'color'
												i( class=value )
											else
												if key !== 'to-wish'
													i( class=value )
												else
													each icn in value
														i( class= icn )
									else if !type
										button( type='button', class = key )
											| #{value}
						div.item-fast-delivery
							div( class=items[0].features.icon )
							p.item-delivery-term
								| #{items[0].features.feature}
					button.item-next-img( type='button' )
					button.item-prev-img( type='button' )
					div.item-info
						p.item-brand
							| #{items[0].brand}
						p.item-description
							| #{items[0].description}
						p.item-price
							| #{items[0].price} грн
							span.item-old-price
								| #{items[0].oldPrice} грн
					p.item-size
						span.item-sizes
							| Размеры: 
						each size in items[0].sizes
							a( href='#' )
								| #{size} 

